<div class="mcl-add-bookmark pull-right">
    <a href="#" class="togglable-icon-bookmark" ng-show="$ctrl.isFollow" ng-click="$ctrl.follow(false)">
        <span class="mcl-glyphicons-icon mcl-icon-add-bookmark togglable-icon mcl-full-icon"></span>
        <span class="mcl-bookmark-txt">remove bookmark</span>
    </a>
    <a href="#" class="togglable-icon-bookmark" ng-show="!$ctrl.isFollow" ng-click="$ctrl.follow(true)">
        <span class="mcl-glyphicons-icon mcl-icon-add-bookmark togglable-icon"></span>
        <span class="mcl-bookmark-txt">add bookmark</span>
    </a>
</div>